Repository gardener/gardener-extension-networking-calico, pull requests merged in 2020-08, with the labels that each got.

#44 Fix worker annotations for system-components
  pkg/charts/charts_test.go
  pkg/charts/utils.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm

#45 Expose monitoring configuration for Calico
  charts/internal/calico-monitoring/Chart.yaml
  charts/internal/calico-monitoring/calico-felix-dashboard.json
  charts/internal/calico-monitoring/calico-typha-dashboard.json
  charts/internal/calico-monitoring/charts/utils-templates
  charts/internal/calico-monitoring/templates/_helpers.tpl
  charts/internal/calico-monitoring/templates/calico-monitoring-config.yaml
  charts/internal/calico/charts/utils-templates
  charts/internal/calico/templates/node/daemonset-calico-node.yaml
  charts/internal/calico/templates/node/felix-monitoring-service.yaml
  charts/internal/calico/templates/node/psp-calico.yaml
  charts/internal/calico/templates/typha/deployment-calico-typha.yaml
  charts/internal/calico/templates/typha/psp-gardener-calico-typha.yaml
  charts/internal/calico/templates/typha/typha-monitoring-service.yaml
  charts/internal/calico/values.yaml
  charts/utils-templates/Chart.yaml
  charts/utils-templates/README.md
  charts/utils-templates/templates/_versions.tpl
  pkg/calico/types.go
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/controller/actuator.go
  pkg/controller/actuator_delete.go
  pkg/controller/actuator_reconcile.go
  vendor/github.com/gardener/gardener/pkg/utils/chart/chart.go
  vendor/modules.txt
Labels: area/monitoring, area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#47 Remove explicit scrape interval config
  charts/internal/calico-monitoring/templates/calico-monitoring-config.yaml
Labels: area/monitoring, area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#49 Update Kubernetes OS label
  charts/internal/calico/templates/node/daemonset-calico-node.yaml
Labels: area/networking, area/open-source, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm
