Repository gardener/gardener-extension-networking-calico, pull requests merged in 2020-11, with the labels that each got.

#59 Update calico to v3.16.4
  charts/images.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-bgpconfigurations.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-bgppeers.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-blockaffinities.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-clusterinformations.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-felixconfigurations.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-globalnetworkpolicies.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-globalnetworksets.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-hostendpoints.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-ipamblocks.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-ipamconfigs.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-ipamhandles.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-ippools.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-networkpolicies.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-networksets.yaml
  charts/internal/calico/templates/kube-controller/clusterrole-calico-kube-controllers.yaml
  charts/internal/calico/templates/kube-controller/deployment-calico-kube-controllers.yaml
  charts/internal/calico/templates/node/clusterrole-calico-node.yaml
  charts/internal/calico/templates/node/configmap-calico-config.yaml
  charts/internal/calico/templates/node/daemonset-calico-node.yaml
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/controller/actuator_reconcile.go
  pkg/imagevector/image_finders.go
Labels: area/networking, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/xl

#62 Fix PSP for the new calico version
  charts/internal/calico/templates/node/psp-calico.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#61 Update pull_request_template.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/flaking-test.md
  .github/pull_request_template.md
  hack/update-github-templates.sh
Labels: area/networking, needs/changes, needs/ok-to-test, priority/normal, size/xs

#63 Use Default DNSPolicy for controllers
  charts/internal/calico/templates/kube-controller/deployment-calico-kube-controllers.yaml
  charts/internal/calico/templates/node-cpva/deployment-calico-node-vertical-autoscaler.yaml
  charts/internal/calico/templates/typha-cpha/deployment-calico-typha-horizontal-autoscaler.yaml
  charts/internal/calico/templates/typha-cpva/deployment-calico-typha-vertical-autoscaler.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs
