Repository gardener/gardener-extension-networking-calico, pull requests merged in 2020-07, with the labels that each got.

#42 Honor max-concurrent-reconciles flag
  cmd/gardener-extension-networking-calico/app/app.go
Labels: area/networking, area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#43 [rel-v1.8] Honor max-concurrent-reconciles flag
  cmd/gardener-extension-networking-calico/app/app.go
Labels: area/networking, area/usability, kind/bug, needs/ok-to-test, priority/normal

#40 Adapt the extension to Loki
  charts/gardener-extension-networking-calico/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/networking, needs/ok-to-test, priority/normal, reviewed/lgtm
