Repository gardener/gardener-extension-networking-calico, pull requests merged in 2020-06, with the labels that each got.

#33 Bump version to mitigatte MiM attack
  charts/images.yaml
Labels: area/security, needs/ok-to-test, priority/critical, reviewed/lgtm

#35 Add functionality to migrate operation
  pkg/controller/actuator_migrate.go
  pkg/controller/actuator_restore.go
Labels: area/control-plane-migration, area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#37 Restore now calls Reconcile instead of being an empty op
  pkg/controller/actuator_migrate.go
  pkg/controller/actuator_restore.go
Labels: area/control-plane-migration, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm
