Repository gardener/gardener-extension-networking-calico, pull requests merged in 2022-12, with the labels that each got.

#224 omit backend field when empty
  pkg/apis/calico/v1alpha1/types_network.go
Labels: area/networking, kind/bug, kind/api-change, needs/ok-to-test, reviewed/lgtm, size/xs

#225 omit backend field when empty
  pkg/apis/calico/v1alpha1/types_network.go
Labels: area/networking, kind/bug, kind/api-change, needs/ok-to-test, reviewed/lgtm, size/xs

#226 Drop support for kubernetes < 1.20 for calico extension
  charts/internal/calico/templates/kube-controller/deployment-calico-kube-controllers.yaml
  charts/internal/calico/templates/node-cpva/deployment-calico-node-vertical-autoscaler.yaml
  charts/internal/calico/templates/node/daemonset-calico-node.yaml
  charts/internal/calico/templates/typha-cpha/deployment-calico-typha-horizontal-autoscaler.yaml
  charts/internal/calico/templates/typha-cpva/deployment-calico-typha-vertical-autoscaler.yaml
  charts/internal/calico/templates/typha/deployment-calico-typha.yaml
  example/20-network.yaml
  hack/api-reference/calico.json
  hack/api-reference/config.json
  pkg/charts/charts_test.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#214 Documentation for overlay network
  docs/assets/No-Overlay-Network.drawio.png
  docs/assets/Overlay-Network.drawio.png
  docs/shoot_overlay_network.md
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#227 Update to latest golang patch.
  Dockerfile
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs
