Repository gardener/gardener-extension-networking-calico, pull requests merged in 2023-01, with the labels that each got.

#228 fix deployment
  charts/gardener-extension-networking-calico/charts/utils-templates
  charts/gardener-extension-networking-calico/templates/_helpers.tpl
  example/controller-registration.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#229 Disable SNAT for clusters without overlay
  charts/internal/calico/templates/ippool/ippool.yaml
  charts/internal/calico/templates/node/daemonset-calico-node.yaml
  charts/internal/calico/values.yaml
  hack/api-reference/calico.md
  pkg/apis/calico/types_network.go
  pkg/apis/calico/v1alpha1/types_network.go
  pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/calico/zz_generated.deepcopy.go
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#230 Add Fluent Operator resources
  charts/gardener-extension-networking-calico/templates/clusterfilters-logging.yaml
  charts/gardener-extension-networking-calico/templates/clusterparsers-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#232 update calico to v3.25.0
  charts/images.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-bgpconfigurations.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-bgppeers.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-felixconfigurations.yaml
  charts/internal/calico/templates/typha/deployment-calico-typha.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#233 Add CVE categorisation.
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/s
