Repository gardener/gardener-extension-networking-calico, pull requests merged in 2023-03, with the labels that each got.

#246 Remove minAllowed.cpu for all components
  charts/gardener-extension-admission-calico/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-calico/values.yaml
  charts/gardener-extension-networking-calico/templates/vpa.yaml
  charts/gardener-extension-networking-calico/values.yaml
  charts/internal/calico/templates/kube-controller/vpa.yaml
  charts/internal/calico/templates/node/vpa.yaml
  charts/internal/calico/templates/typha/vpa.yaml
  example/controller-registration.yaml
Labels: area/networking, needs/ok-to-test, reviewed/lgtm, size/xs, area/auto-scaling

#249 Allow non-specified node cidr.
  charts/internal/calico/templates/ippool/ippool.yaml
  charts/internal/calico/values.yaml
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl

#250 Allow to run without network configuration
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#251 update golang to v1.20
  Dockerfile
  go.mod
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#252 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  cmd/gardener-extension-networking-calico/app/app.go
  go.mod
  go.sum
  pkg/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healthcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/inject.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/message_util.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#253 [release-v1.31] Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  cmd/gardener-extension-networking-calico/app/app.go
  go.mod
  go.sum
  pkg/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healthcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/inject.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/message_util.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#255 Add CVE categorisation to pipeline definition.
  .ci/pipeline_definitions
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#256 Document limitation with regards to ebpf dataplane and azure accelerated networking
  docs/usage-as-end-user.md
Labels: area/documentation, area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
