Repository gardener/gardener-extension-networking-calico, pull requests merged in 2023-04, with the labels that each got.

#259 pin to gardener v1.67.1
  hack/test-e2e-provider-local.sh
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#260 Fixes typos and nits in docs/shoot_overlay_network.md
  docs/shoot_overlay_network.md
Labels: area/documentation, area/networking, kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#261 extend e2e tests
  test/e2e/network_test.go
  test/templates/network-test.yaml.tpl
  test/templates/templates.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#262 update calico to v3.25.1
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#264 Export artifacts analogous to gardener/gardener in end-to-end tests
  hack/test-e2e-provider-local.sh
Labels: area/networking, kind/test, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#263 Remove support for kubernetes < 1.21 and cleanup corresponding code
  charts/images.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-bgpconfigurations.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-bgppeers.yaml
  charts/internal/calico/templates/custom-resource-definition/crd-felixconfigurations.yaml
  charts/internal/calico/templates/node/clusterrole-calico-node.yaml
  charts/internal/calico/templates/node/daemonset-calico-node.yaml
  charts/internal/calico/values.yaml
  pkg/calico/types.go
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/imagevector/image_finders.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl

#265 Use `gardener@v1.69.1` for e2e tests
  hack/test-e2e-provider-local.sh
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs
