Repository gardener/gardener-extension-networking-calico, pull requests merged in 2024-03, with the labels that each got.

#343 Make repo compliant
  .reuse/dep5
  CONTRIBUTING.md
  LICENSE
  LICENSES/Apache-2.0.txt
  LICENSES/CC-BY-4.0.txt
  Makefile
  NOTICE.md
  README.md
  charts/charts.go
  charts/gardener-extension-networking-calico/doc.go
  cmd/gardener-extension-admission-calico/app/app.go
  cmd/gardener-extension-admission-calico/main.go
  cmd/gardener-extension-networking-calico/app/app.go
  cmd/gardener-extension-networking-calico/main.go
  example/controller-registration.yaml
  hack/tools.go
  hack/update-codegen.sh
  hack/update-github-templates.sh
  imagevector/image_finders.go
  imagevector/imagevector.go
  pkg/admission/cmd/options.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/validator_suite_test.go
  pkg/admission/validator/webhook.go
  pkg/admission/validator/webhook_test.go
  pkg/apis/calico/doc.go
  pkg/apis/calico/install/install.go
  pkg/apis/calico/register.go
  pkg/apis/calico/types_network.go
  pkg/apis/calico/v1alpha1/defaults.go
  pkg/apis/calico/v1alpha1/doc.go
  pkg/apis/calico/v1alpha1/helper/decode.go
  pkg/apis/calico/v1alpha1/register.go
  pkg/apis/calico/v1alpha1/types_network.go
  pkg/apis/config/doc.go
  pkg/apis/config/install/install.go
  pkg/apis/config/loader/loader.go
  pkg/apis/config/register.go
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/defaults.go
  pkg/apis/config/v1alpha1/doc.go
  pkg/apis/config/v1alpha1/register.go
  pkg/apis/config/v1alpha1/types.go
  pkg/calico/predicates.go
  pkg/calico/types.go
  pkg/charts/charts_suite_test.go
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/cmd/config.go
  pkg/controller/actuator.go
  pkg/controller/actuator_delete.go
  pkg/controller/actuator_migrate.go
  pkg/controller/actuator_reconcile.go
  pkg/controller/actuator_restore.go
  pkg/controller/add.go
  pkg/controller/status.go
  pkg/features/features.go
  pkg/healthcheck/add.go
Labels: kind/api-change, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xl, area/compliance, area/ipcei

#326 Drop support for Shoots with Kubernetes version == 1.24
  charts/internal/calico/templates/kube-controller/clusterrole-garden-psp-calico-kube-controllers.yaml
  charts/internal/calico/templates/kube-controller/psp-calico-kube-controllers.yaml
  charts/internal/calico/templates/kube-controller/rolebinding-garden-psp-calico-kube-controllers.yaml
  charts/internal/calico/templates/node-cpva/clusterrole-gardener-psp-node-cpva.yaml
  charts/internal/calico/templates/node-cpva/psp-gardener-node-cpva.yaml
  charts/internal/calico/templates/node-cpva/rolebinding-gardener-psp-node-cpva.yaml
  charts/internal/calico/templates/node/clusterrole-garden-psp-calico.yaml
  charts/internal/calico/templates/node/psp-calico.yaml
  charts/internal/calico/templates/node/rolebinding-garden-psp-calico.yaml
  charts/internal/calico/templates/typha-cpha/clusterrole-gardener-psp-typha-cpha.yaml
  charts/internal/calico/templates/typha-cpha/psp-gardener-typha-cpa.yaml
  charts/internal/calico/templates/typha-cpha/rolebinding-gardener-psp-typha-cpa.yaml
  charts/internal/calico/templates/typha-cpva/clusterrole-gardener-psp-typha-cpva.yaml
  charts/internal/calico/templates/typha-cpva/psp-gardener-typha-cpva.yaml
  charts/internal/calico/templates/typha-cpva/rolebinding-gardener-psp-typha-cpva.yaml
  charts/internal/calico/templates/typha/clusterrole-garden-psp-calico-typha.yaml
  charts/internal/calico/templates/typha/psp-gardener-calico-typha.yaml
  charts/internal/calico/templates/typha/rolebinding-garden-psp-calico-typha.yaml
  charts/internal/calico/values.yaml
  docs/usage/usage.md
  example/20-network.yaml
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l

#348 adapt e2e tests to gardener v1.90.0
  test/e2e/force_delete_test.go
  test/e2e/network_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#347 unpin go version for linters
  .golangci.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#366 Revert "Update calico images to v3.27.2 (patch)"
  charts/internal/calico/templates/custom-resource-definition/crd-felixconfigurations.yaml
  imagevector/images.yaml
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
