Repository gardener/gardener-extension-networking-calico, pull requests merged in 2025-04, with the labels that each got.

#615 Enable migration from single-stack IPv4 to dual-stack IPv4, IPv6.
  hack/api-reference/calico.md
  pkg/apis/calico/types_network.go
  pkg/apis/calico/v1alpha1/types_network.go
  pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/calico/zz_generated.deepcopy.go
  pkg/charts/charts_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/controller/actuator_reconcile.go
  pkg/controller/status.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#568 Use ServiceTrafficDistribution to make Services topology-aware when runtime Kubernetes >= 1.31
  charts/gardener-extension-admission-calico/charts/runtime/templates/service.yaml
Labels: area/high-availability, area/networking, needs/ok-to-test, needs/review, size/xs

#622 Explicitly configure metrics and health port and add probes
  charts/gardener-extension-networking-calico/templates/deployment.yaml
  charts/gardener-extension-networking-calico/values.yaml
  cmd/gardener-extension-networking-calico/app/app.go
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#626 Update base image to `debian12`
  Dockerfile
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#623 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, ok-to-test

#634 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-networking-calico/templates/rbac.yaml
  charts/internal/calico-monitoring/templates/calico-monitoring-config.yaml
  charts/internal/calico-monitoring/templates/configmap-dashboards.yaml
  charts/internal/calico-monitoring/templates/scrapeconfig-felix.yaml
  charts/internal/calico-monitoring/templates/scrapeconfig-typha.yaml
  charts/internal/calico-monitoring/values.yaml
  example/controller-registration.yaml
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, needs/review, size/m

#624 Align networking extensions to provider extensions
  charts/gardener-extension-admission-calico/charts/application/Chart.yaml
  charts/gardener-extension-admission-calico/charts/runtime/Chart.yaml
  charts/gardener-extension-admission-calico/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-calico/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-calico/charts/runtime/values.yaml
  charts/gardener-extension-networking-calico/templates/_helpers.tpl
  charts/gardener-extension-networking-calico/templates/deployment.yaml
  charts/gardener-extension-networking-calico/templates/poddisruptionbudget.yaml
  charts/gardener-extension-networking-calico/templates/rbac.yaml
  charts/gardener-extension-networking-calico/templates/service.yaml
  charts/gardener-extension-networking-calico/templates/serviceaccount.yaml
  charts/gardener-extension-networking-calico/templates/vpa.yaml
  charts/gardener-extension-networking-calico/values.yaml
  cmd/gardener-extension-admission-calico/app/app.go
  cmd/gardener-extension-admission-calico/main.go
  cmd/gardener-extension-networking-calico/app/app.go
  cmd/gardener-extension-networking-calico/main.go
  example/controller-registration.yaml
  pkg/cmd/options.go
Labels: area/networking, kind/technical-debt, needs/ok-to-test, needs/second-opinion, reviewed/lgtm, size/l

#636 extension and admission: Unify templating the VPA resources
  charts/gardener-extension-admission-calico/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-calico/charts/runtime/values.yaml
  charts/gardener-extension-networking-calico/templates/vpa.yaml
  charts/gardener-extension-networking-calico/values.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/auto-scaling

#640 Prepare Calico for deny all network policy
  Makefile
  test/e2e/common_test.go
  test/e2e/network_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#632 Write ipFamilies to network.Status instead of network providerStatus.
  .github/ISSUE_TEMPLATE/support.md
  .golangci.yaml
  go.mod
  go.sum
  hack/api-reference/calico.md
  pkg/admission/validator/webhook.go
  pkg/admission/validator/webhook_test.go
  pkg/apis/calico/types_network.go
  pkg/apis/calico/v1alpha1/types_network.go
  pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/calico/zz_generated.deepcopy.go
  pkg/charts/utils.go
  pkg/controller/actuator_reconcile.go
  pkg/controller/status.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, size/m, area/ipcei

#645 extension: Fix RBAC
  charts/gardener-extension-networking-calico/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#646 [release-v1.48] extension: Fix RBAC
  charts/gardener-extension-networking-calico/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/bug, kind/regression, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#648 Add generate-renovate-ignore-deps.sh and retire depandabot.
  .github/dependabot.yaml
  .github/renovate.json5
  Makefile
  OWNERS
  OWNERS_ALIASES
  hack/generate-renovate-ignore-deps.sh
  renovate.json5
Labels: area/dev-productivity, kind/enhancement, size/L, cla: yes, lgtm, reviewed/ok-to-test
